body {
    margin: 0;
    font-family: Arial;
    letter-spacing: 1px;
	line-height: 24px;
	color: gray;
}

.exec {
	text-align: center;
	display: inline-block;
	padding: 1.5%;
	padding-top: 180px;
	color: black;
	max-width: 16.5%;
}

#background {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .75;
}

#header {
	position: absolute;
	background-color: #fff;
	color: gray;
	width: 100%;
	top: 0px;
	height: 108px;
}

#header-img{
	padding-left: 12px;
	width: 108px;
	height: 108px;
}

#header-big {
	font-size: 36px;
}

#header-small {
	padding-left: 18px;
	padding-top: 12px;
	font-size: 24px;
}

#navbar {
	position: relative;
	top: 63px;
	float: right;
	z-index: 10;
}

#header-words {
	position: relative;
	bottom: 18px;
}

.wrapper {
	display: inline-block;
}

.navbar-item {
	color: gray;
	display: inline-block;
	font-size: 18px;
	padding: 12px;
	border-radius: 6px;
}

#about-wrapper{
	background: rgba(162, 221, 239, .75);
	margin-top: 108px;
}

#aboutus {
	width: 50%;
	text-align: center;
	padding: 18px;
	margin: 0px auto;
	color: black;
	line-height: 27px;
}

#questions-wrapper {
	background: rgba(162, 221, 239, .75);
}

#questions {
	width: 45%;
	color: black;
	text-align: center;
	padding: 18px;
	margin: 0px auto;
}

#prefix-wrapper {
	background: rgba(56, 57, 61, .75);
	padding: 50px;
	color: black;
}

#cal-prefix {
	margin-top: 180px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 50%;
	color: white;
	font-size: 1.5em;
	line-height: 1.5em;
}

#cal-wrapper {
	background: rgba(69,70,74,.75);
	padding: 50px;
	color: white;
	font-size: 1.5em;
	letter-spacing: 10px;
	text-align: center;
}

#pdf-wrapper {
	background: rgba(56, 57, 61, .75);
	padding: 50px;
	text-align: center;
	color: white;
	font-size: 1.5em;
	letter-spacing: 10px;
}

#member {
	position: relative;
	top: 240px;
	width: 30%;
	margin: auto;
	background-color: #fff;
	color: gray;
	padding: 18px;
	border-radius: 12px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.summary {
	position: relative;
	top: 180px;
	margin: auto;
	width: 50%;
	background-color: #fff;
	padding: 12px;
	border-radius: 12px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

#imageDiv {
	padding-top: 180px;
	width: 100%;
	position: fixed;
	text-align: center;
}

#slide {
	height: 40%;
	width: 40%;
	border: inset;
	border-radius: 3px;
	border-color: black;
}

#description {
	color: white;
}

#faq-wrapper {
	background: rgba(158,202,215,.75);
}

#FAQ {
	width: 50%;
	margin: 0px auto;
	padding-top: 35px;
	padding-bottom: 90px;
}

#FAQ label {
	padding: 5px 20px;
	position: relative;
	z-index: 2;
	display: block;
	height: 30px;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 1.5em;
	background: linear-gradient(top, #fff 1%, #eaeaea 100%);
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
		        1px 0px 0px 0px rgba(255,255,255,0.05) inset, 
		        0px 2px 2px rgba(0,0,5,0.1);
}

#FAQ label:hover{
	color: black;
	background-color: #FFF;
}

#FAQ input:checked + label,
#FAQ input:checked + label:hover{
	background: gray;
	color: black;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}

#FAQ input{
	display: none;
}

#FAQ article{
	background: rgba(255, 255, 255, 0.5);
    margin-top: 1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}

#FAQ input:checked ~ article{
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

#FAQ article p{
	text-align: justify;
    line-height: 1.3em;
    font-size: 1.2em;
    padding: 30px 20px 0px 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#FAQ input:checked ~ article.large{
    height: 550px;
}
#FAQ input:checked ~ article.medium{
	height: 250px;
}
#FAQ input:checked ~article.small{
	height: 150px;
}

#blue {
	color: blue;
}

.about {
	padding-bottom: 30px;
	text-align: center;
	font-size: 3em;
	color: black;
	line-height: 1em;
}

.round-img {
	width: 240px;
	height: 255px;
	border-radius: 50%;
	objet-fit: cover;
}